<!-- Showing the search result of players as searched by name -->

<div class="formTaker-Expansion">

                <!-- <mat-form-field appearance="outline">
                   <mat-label>Get Statistics</mat-label>
                   <input matInput placeholder="Enter Name of Player" [(ngModel)]="val">
                   <mat-hint>eg. Sachin</mat-hint>
                </mat-form-field>
             
                <button mat-raised-button (click)="getData(val)" class="buttn" color="primary">Search</button> -->
                <div class="input-group">
                    <input type="text" class="form-control border border-dark" placeholder="Search Your Cricket Player here " [(ngModel)]="val">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button" (click)="getData(val)">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                    </div>
                    
</div>
             
             <div class="cardContainer">
             
                <mat-card class="card" *ngFor="let data of list | paginate: config" (click)="viewStats(data)">
             
                   <mat-card-subtitle>
                      Name : {{data.name}}
                   </mat-card-subtitle>
             
                   <mat-card-content>
                      Full Name : {{data.fullName}}
                   </mat-card-content>
                   
             
                </mat-card>
                
             </div>
             <div class="pagination">
                <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
             </div>
             
 
