<!-- Show the cards of recommended players -->


<div class="cardContainer" style="height:100px">
<!-- 
<h1>recomed works here</h1>
<div class="cardContainer" style="height:7vh"> -->


        <mat-card class="card" *ngFor="let data of list">
     
           <mat-card-title>
              {{data.name}}
           </mat-card-title>
     
           <mat-card-subtitle>
              {{data.currentAge}}
           </mat-card-subtitle>
     
           <img mat-card-image height="250px" [src]="data.imageURL">
     
           <mat-card-content>
              <b>Conutry :</b> {{data.country}}<br>
              <b>Teams : </b>{{data.majorTeams}}<br>
              <b>Role : </b>{{data.playingRole}}
           </mat-card-content>
        </mat-card>
     </div>