<!-- display all the favourite players and have a button in each card to delete them -->

<div class="cardContainer" style="height:7vh" >

    <mat-card class="card" *ngFor="let data of list">
 
       <mat-card-title>
          {{data.name}}
       </mat-card-title>
 
       <mat-card-subtitle>
          {{data.currentAge}}
       </mat-card-subtitle>
 
       <img mat-card-image height="250px"  [src]="data.imageURL">
 
       <mat-card-content>
          <b>Country :</b>{{data.country}}<br>

          <b>Teams : </b>{{data.majorTeams}}<br>
          <b>Role : </b>{{data.playingRole}}
       </mat-card-content>
 
       <mat-card-actions>
        <button *ngIf="data.status" mat-icon-button class="button-pos">
           <mat-icon>favorite</mat-icon>
        </button>

        <button *ngIf="!data.status" mat-icon-button color="warn" class="button-pos" (click)="removeFromFav(data)">
           <mat-icon>favorite</mat-icon>
        </button>
     </mat-card-actions>
    </mat-card>
 </div>
 