
<footer class="footer-sec fixed-bottom container-fluid">

    <div class="row mt-0">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <h3>Contact us</h3>
        <h6>Board of control for cricket in India,
          <br/>Cricket centre wankhede Stadium 'D' road,
          <br/>Mumbai-400020</h6>
      </div>

      <div id="connect" class="col-12 col-sm-12 col-md-4 col-lg-4">
        <h3>Connect us</h3>
        <a href="https://www.facebook.com/a2indiamilksweets/">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://youtube.com/channel/UCMLmK5QNd_OWLm2YI0A3QuA">
          <i class="fa fa-youtube"></i>
        </a>
        <a href="https://www.linkedin.com/in/manepulla-vamsi-86092615b">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4">
        <h3>Reach us</h3>

        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.85010355304!2d72.82339461489906!3d18.938027887167188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7d1e0f0945bf1%3A0xeee094bf52a220bb!2sBOARD%20OF%20CONTROL%20FOR%20CRICKET%20IN%20INDIA!5e0!3m2!1sen!2sin!4v1604917474417!5m2!1sen!2sin" width="150" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
      </div>
    </div>
  </footer>
