<!-- creating search button ad get a list of players -->

<div class="formTaker-Expansion">
        <!-- <mat-form-field appearance="outline">
           <mat-label>Search Cricket Player</mat-label>
           <input matInput placeholder="Please enter Name" [(ngModel)]="val">
           <mat-hint>eg. Sachin</mat-hint>
        </mat-form-field>
        <button mat-raised-button (click)="getData(val)" class="buttn" color="primary">Search</button> -->
        <div class="input-group">
          <input type="text" class="form-control border border-dark" placeholder="Search Your Cricket Player here " [(ngModel)]="val">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="getData(val)">
              <i class="fa fa-search"></i>
            </button>
          </div>
          </div>
          </div>
        
       
    
     
     <div class="cardContainer">
     
        <mat-card class="card" *ngFor="let data of list | paginate: config">
     
           <mat-card-subtitle>
              Name : {{data.name}}
           </mat-card-subtitle>
     
           <mat-card-content>
              Full Name : {{data.fullName}}
           </mat-card-content>
     
           <mat-card-actions>
              <button *ngIf="data.status" mat-icon-button class="align-self-end button-pos" (click)="addToFav(data)">
                <mat-icon>favorite</mat-icon>
              </button>
        
              <button *ngIf="!data.status" mat-icon-button color="warn" class="align-self-end button-pos"
                (click)="removeFromFav(data)">
                <mat-icon>favorite</mat-icon>
              </button>
            </mat-card-actions>
        </mat-card>
     </div>
     
     <div class="pagination">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
     </div>