<header>
    <!--Navigation Starts Here-->
    <nav class="navbar  navbar-expand-lg navbar-light mynav">

      <img src="../../assets/favicon.jpeg" width="60" height="60" class="d-inline-block align-top" alt="" loading="lazy" />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item c-dark">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link"><h2>Home</h2>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active-link"><h2>Sign In</h2></a>
          </li>
     
        </ul>

      </div>
    </nav>
    <!--Navigation End's Here-->
  </header>