<app-header></app-header>
<section class="coursel">
    <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <div class="container">
          <img src="../../assets/dhoni.jpg" class="d-block img-fluid op-1" alt="..." width="100%" height="50%">
        </div>
          <div class="carousel-caption d-none d-md-block">
            <h5>Hurry Up!!!</h5>
            <p>Let's Know more about him...</p>
          </div>
        </div>
        <div class="carousel-item" data-interval="10000" id="c2">
          <div class="container">
          <img src="../../assets/virat.jpg" class="d-block img-fluid op-2" alt="..." width="100%" height="50%">
        </div>
          <div class="carousel-caption d-none d-md-block">
            <h5 class="c2">Did you want to Know more about..</h5>
            <p class="c2" id="virat">Know about his Achivements by just Login......</p>
          </div>
        </div>

        <div class="carousel-item" data-interval="10000" id="c3">
          <div class="container">
          <img src="../../assets/rohith.jpg" class="d-block img-fluid" alt="..." height="30%" width="100%">
        </div>
          <div class="carousel-caption d-none d-md-block color-red">
            <h5 class="c3">Do you want to Know how he played.. </h5>
            <p class="c3">All My information know by just Login .... </p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="h1">
      <h1>Famous Players</h1>
    </div>

    <div class="container">
      <!-- <p>The .card-columns class creates a masonry-like grid of cards. The layout will automatically adjust as you insert more cards.</p> -->
      <!-- <p><strong>Note:</strong> The cards are displayed vertically on small screens (less than 576px):</p> -->
      <div class="card-columns">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text"><img src="../../assets/sachin1.jpg"></p>
          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text"><img src="../../assets/kapil.jpg" ></p>
    
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text"><img src="../../assets/warner.jpg"></p>
          </div>
        </div>
       
        <div class="card bg-danger">
          <div class="card-body text-center">
            <p class="card-text"><img src="../../assets/dhoni1.jpg"></p>
          </div>
        </div>  
        <div class="card bg-light">
          <div class="card-body text-center">
            <p class="card-text"><img src="../../assets/rahul.jpg"></p>
          </div>
        </div>
        <div class="card bg-info">
          <div class="card-body text-center">
            <p class="card-text"><img src="../../assets/ganguly1.jpg"></p>
          </div>
        </div>
      </div>
    </div>

  </section>
  <app-footer></app-footer>
  <!--Curousel  End's Here-->

